// --------------------
// 일반 요소 
// --------------------
html
  overflow: hidden
  overflow-y: scroll
html, body
  height: 100%
  min-height: 100%
ul
  list-style: none
a
  text-decoration: none
  color: #000
img
  pointer-events: none
  user-select: none

.a11y-hidden
  display: block
  width: 1px
  height: 1px
  margin-top: -1px
  text-indent: -9999px
  visiblity: hidden

.text-hidden
  display: block
  text-indent: -9999px

// --------------------
// 공통요소 
// --------------------
.dim
  display: none
  position: fixed
  left: 0
  right: 0
  bottom: 0
  height: 100%
  background: #dedede
  z-index: 30
  &.show
    display: block

.a11y-color-mode
  color: #fff01f !important
  background-color: #000 !important


// --------------------
// 애니메이션 키프레임 
// --------------------

// Fixed Menu Button Animation
@keyframes menu-bar-animation-bar-01
  0%
    opacity: 1
    top: 0
  100% 
    opacity: 0
    top: -12px

@keyframes menu-bar-animation-bar-02
  0%
    top: 0px
  100% 
    top: -9px

@keyframes menu-bar-animation-bar-03
  0%
    opacity: 0
    top: 5px
  100%
    opacity: 1
    top: -9px
