.page-main

.feature__title
  text-align: center

// --------------------
// Supreme Comfort 
// --------------------
.feature-supreme-comfort
  position: relative
  height: 2023px
  text-align: center
  .feature__title
    padding: 101px 0 39px
  .feature__desc
    max-width: 990px
    margin: 0 auto
    font-size: 21px
    line-height: 38px
    margin-bottom: 91px
  .feature__list
    @extend %clearfix
    position: absolute
    bottom: 151px
    width: 100%
    text-align: center
    li:first-child
      margin-left: 0
    li
      display: inline-block
      width: 360px
      margin-left: 69px
    .list-title
      margin-top: 45px
      font-size: 32px
    .list-desc
      font-size: 18px

// --------------------
// Complete Foucus 
// --------------------
.feature-complete-focus
  background: #000
  color: #fff
  background-image: url("../assets/img/gear-vr_focus_bg.jpg")

  .feature__title
    padding: 101px 0 39px
  .feature__desc
    max-width: 990px
    margin: 0 auto
    text-align: center
    font-size: 21px
    line-height: 38px
    margin-bottom: 91px

  .feature__exprience
    height: 1000px
    .exp-background
    .exp-device
      text-align: center
      overflow: hidden
      img
        width: 100%

// --------------------
// Convenient Control
// --------------------
.feature-convenient-control
  .feature__title
    padding: 101px 0 39px
  .feature__desc
    max-width: 990px
    margin: 0 auto
    text-align: center
    font-size: 21px
    line-height: 38px
    margin-bottom: 91px  
  .feature__list
    height: 817px
    background-image: url("../assets/img/gear-vr_control.jpg")
    background-size: 100% auto
    padding-left: 70%

// --------------------
// Galaxy Connection 
// --------------------
.feature-galaxy-connection
  text-align: left


// --------------------
// Oculus Home
// --------------------
.feature-oculus-home
  background: #000
  color: #fff
  text-align: center
  border-bottom: 1px solid transparent
  .feature__title
    padding: 101px 0 39px
  .feature__desc
    max-width: 990px
    margin: 0 auto
    font-size: 21px
    line-height: 38px
    margin-bottom: 91px  

// --------------------
// Optimized-for-gear 
// --------------------
.feature-optimized-for-gear
  background: #000
  color: #fff
  text-align: center


// --------------------
// Experiences
// --------------------
.feature-experiences
  .feature__title
    padding: 101px 0 39px
  .feature__desc
    max-width: 990px
    margin: 0 auto
    text-align: center
    font-size: 21px
    line-height: 38px
    margin-bottom: 91px 


// --------------------
// Stage is set
// --------------------
.feature-stage-is-set
  .feature__title
    padding: 101px 0 39px
  .feature__desc
    max-width: 990px
    margin: 0 auto
    text-align: center
    font-size: 21px
    line-height: 38px
    margin-bottom: 91px 


// --------------------
// VR Gallary 
// --------------------
.feture-vr-gallery

    
// --------------------
// Specification 
// --------------------
.feature-specification
  background: #000
  color: #fff
